:root{
  --COR-DE-FUNDO:#222222;
  /* Texto */
  --TextoPrimario:#F4B331;
  --TextoSecundario:#FFFFFF;
  --NavText:#C1C8C0;
  
  /* Card */
  --CardPrimary:#303134;
  --CardSecond:#363636;
  --CardThird:#505050;
  --CardFourth:#797979;
  
  --NavFooterPrimary:#272C30;
  --SecondNav:#202529;
  
  --BorderCheckBox-UnChecked:#4C4C4C;
  --InnerCheckBox-UnChecked:#838383;
  --BorderCheckBox-Checked:#003AD6;
  --InnerCheckBox-Checked:#0F62FE;

  --BorderTable:#5B5B5B;
  --TableHead:#404040;
  
  --FreeProgres:#D9D9D9;
  --SucessButton:#25A249;
  
  /* sobras cores */
  --Border:#1B1B1B;
  --BordaImagem:#AFB1B6;
  
  --Mentolada:#00FF7F;
  --Gelada:#00FFFF;
  --Quente:#FF4500;
  --Doce:#FFB6C1;
  --Citrica:#FFD700;
  
  --BorderObservacao:#0F62FE;
  --FundoObservacao:#A9C7FF;
  
  --BorderAviso:#F1C21B;
  --FundoAviso:#FAE9AD;
  
  --Black:#000000;
  --Red:#FF0000;
}
/*
  1º Primary
  2º Second
  3º Third
  4º Fourth
*/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--COR-DE-FUNDO);
}
body::-webkit-scrollbar{width: 0;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
