.SmallItemCard{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--NavText);
    text-decoration: none;
    position: relative;
    background-color: var(--CardPrimary);
    width: 100px;
    height: min-content;
    margin: 10px 10px 0 0;
}
.SmallItemCard img{
    width: inherit;
}
.SmallItemCard div{
    margin-top: 5px;
    color: var(--NavText);
    height: 25px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}